* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ------ Inicio Navbar ------ */
.contact-info{
    background-color: #fff;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 4px;
}
.contact-info p {
    font-size: 8px;
    margin-top: 4px; 
    margin-left: 8px;
    text-align: center;  
}
.info-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    padding: 4px;
    margin: 4px;
}
.logo{
    width: 110px;
    height: 50px;
    margin-right: 50px;
}

#custom-navbar.navbar {
    background-color: #fff;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

/* ------ Fin Navbar ------ */

/* ------ Inicio Hero ------ */

.hero{
    background-image: url("./img/1A.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    width: 100%;
    height: 100vh;
    margin-top: 130px;
    position: relative;
}

.hero::before {
    content: ""; /* Agrega contenido al pseudo-elemento */
    position: absolute; /* Posición absoluta para superponer el color */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.502); /* Color semitransparente */
    z-index: 1; /* Coloca el pseudo-elemento detrás del contenido real */
}

.section-one{
    width: 100%;
    height: 100vh;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-one h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    z-index: 2;
    
}
.section-one p{
    color: #fff;
    z-index: 2;
    text-align: left;
}

.button{
    z-index: 2;
    padding: 10px 20px; /* Ajusta el padding para el espaciado interno del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    border: none; /* Quita el borde para un aspecto más limpio */
    background-color: #ffa420; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-radius: 5px; /* Agrega un borde redondeado al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.button:hover{
    background-color: #ffda0d; /* Cambia el color de fondo al pasar sobre el botón */
    color: #f7f7f7; 
}
.section-two{
    height: 50%;
    background-color: rgb(95, 160, 105);
    display: none;
} 

/* ------ Fin Hero ------ */
.information{
    background-color: red;
    width: 100%;
    height: 100vh;
}

/* ------------------------ Nosotros ---------------------- */
.banner-nosotros{
    background-image: url("./img/1AA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    width: 100%;
    height: 20vh;
    margin-top: 130px;
    position: relative;
}

.info-section{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}
.info-items-nosotros{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px ;
    font-size: 12px;
    padding: 4px;
}

.biografia-section{
    width: 100%;
    height: 40vh;
    background-color: #ffda0d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.biografia-section p{
    text-align: justify;
    padding: 10px;
}
